* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}
.bg {
    height: 100vh;
    width: 100%;
    background-color:rgb(251, 249, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    width: 400px;
    height: 500px;
    background-color:lavender;
    border-radius: 10px;

    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.hbd {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 20px;
}
.name {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 20px;
}
.tab {
    width: 390px;
    height: 35px;
    background-color:rgb(197, 197, 245);
    border-radius:10px 10px 0px 0px;
    margin-top: 10px;
    margin-left: 5px;
}
.x {
    display: flex;
    justify-content: end;
    padding-right: 20px;
    align-items: center;
    font-size: 25px;
}
.gif {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    height: 40%;
    width: auto;
}
.button {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.button-text {
    padding: 5px;
    font-size: 20px;
}